*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: black;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;
}

header{
    min-height:4rem;
    padding:0 4rem;
    background:black;
}

nav h1{
    color: white;
    font-family: sans-serif;
    font-weight: 500;
}

nav{
    height:4rem;
    width: calc(100%-4rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 40%;
}

nav ul li{
    color: white;
}

main{
    height: auto;
    width: auto;
    padding: 2rem 4rem;
}

#hero{
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    height: 30rem;
    width: 40rem;
    background-color: rgb(197, 244, 229);
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.mini1,.mini2{
    height: 10rem;
    width: 10rem;
    background-color: blue;
    border-radius: 50%;
}
